body{
    background: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
header{
    position: relative;
}
h1{

    width: 540px;
    height: 63px;

    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;

    margin-bottom: 50px;
    
    color: #75B79E;
}
.relogio{
    position:fixed;
    top: 30px;
    right: 30px;

    width: 100px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFF;
    border: 1px solid red;
}
.cards{
    width: 872px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:34px;
}
.card{
    width: 117px;
    height: 146px;
    position: relative;   
}
.card .face{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    backface-visibility: hidden;

    transition: all .5s;
    transform-style: preserve-3d;

    background: #A7E9AF;
    border-radius: 5px;
    border: 1px solid #99CEA8;
}
.card .front-face{  
    background-image: url(/Images/front.png);
    background-size: 100px ;
    background-repeat: no-repeat;
    background-position: center;
    
    
}
.card .back-face{
    transform: rotateY(180deg);

}
.card.virada .back-face {
    transform: rotateY(0deg);
}

.card.virada .front-face {
    transform: rotateY(-180deg);
}
.card.par .back-face {
    transform: rotateY(0deg);
}

.card.par .front-face {
    transform: rotateY(-180deg);
}




@media (max-width: 900px) {

    .cards{
        flex-direction: column;
    }
    h1{
        width: 312px;
        height: 63px;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }
}